.maincontainer {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 15%;
}

.status-open {
    color: green;
    font-weight: bold;
}

.status-closed {
    color: rgb(132, 0, 0);
    font-weight: bold;
}

.building-name {
    display: flex;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 2%;
    flex-direction: column;
}

.building-hours {
    font-size: 15px;
    align-self: start;
}

.building-address {
    font-size: 15px;
    align-self: start;
}

.maininfo {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid gray;
    background-color: white;
    padding: 10px;
    margin-top: 20%;
    margin-bottom: 5%;
}



.buildingtags {
    display: flex;
    align-items: center;
    border-radius: 10px;
    border: 1px solid gray;
    background-color: white;
    padding: 10px;
    justify-content: center;
}

.tags-text {
    margin-right: 5px;
    font-weight: bold;
    font-size: 20px;
}

.tag-icons-container {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 5px;
    justify-content: space-evenly;
}

.tag-icon {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.more-info-icon {
    width: 20px;
    height: 20px;
}

.roomscontainer {
    display: flex;
    align-items: center;
    border-radius: 10px;
    border: 1px solid gray;
    background-color: white;
    padding: 10px;
    margin-top: 5%;
    flex-direction: column;
}


.roomslist {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 5%;
    justify-content: space-evenly;
    font-size: 25px;
}

.back-button {
    position: absolute;
    top: 2%;
    left: 2%;
    background: none;
    border: none;
    cursor: pointer;
}

.rooms-title {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .rooms-time {
    font-size: 0.95rem;
    color:dimgrey;
    font-weight: bold;
  }

  .building-address {
    display: flex;
    align-items: center;
  }
  
  .address-container {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    margin-bottom: 1rem;
    width: fit-content;
  }
  
  .address-text {
    font-weight: 400;
    color: #6b7280; 
    white-space: nowrap; 
    line-height: 1;
    font-size: 14px;
    margin-bottom: 0;
  }
  
  .address-icon {
    color: #6b7280; 
    width: 0.8rem;
    height: 0.8rem;
    flex-shrink: 0;
  }
  